$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;


//Color
$black:#151515;
$green: #4EE1A0;
$grey: #242424;
$grey-light: #d9d9d9;
$white: #FFFFFF;

//Tipography
$heading-xl: 88px;
$heading-l: 48px;
$heading-m: 24px;
$text: 18px;





