.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

    @include breakpoint(tablet) {
        justify-content: space-between;
        flex-direction: row;
        padding-top: 29px;
    }
    @include breakpoint(desktopxl) {
        padding-top: 39px;
    }

    &__name {
        margin-bottom: 20px;
        font-size: $heading-m;
        font-weight: 700;
        @include breakpoint(tablet) {
            font-size: 32px;
        }
       
    
    }    
    
    
    &__links {
        @include reset-list();
        display: flex;
        gap: 25px;

        @include breakpoint(tablet) {
            gap: 32px;
        } 
        
      
       

        img {
            width: 19.2px;
            @include breakpoint(tablet) {
                width: 24px;
                
            } 
           


        }
       
    }    
    
}
   

