.container {
    max-width: 1440px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    background-image:  url("../img/mobile.png"), ;

    background-repeat: no-repeat ;
    background-size: 174px 390px;
    background-position: center top 30px;
    position: relative;
   
   
    @include breakpoint(tablet) {
        padding-left: 32px;
        padding-right: 32px;
        background-size: 322px 600px;
        background-position: right top ;
        
    }
    @include breakpoint(desktopxl) {
        padding-left: 165px;
        padding-right: 165px;
        background-size: 445px 720px;
        background-position: right 160px top ;
    }

  
   
   
}

